/* index.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Properties */
:root {
  --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --font-family: "Inter", sans-serif;
  --font-size-24: 24px;
  --font-size-16: 16px;
  --font-size-14: 14px;
  --black: #000;
  --dark-gray: #504e4e;
  --blue: #82cfff;
  --pink: #ff9c9c;
  --green: #abe5bc;
  --beige: #fffaf0;
  --white: #fff;
  --green-shadow: 6px 6px 0px var(--green);
  --blue-shadow: 6px 6px 0px var(--blue);
  --pink-shadow: 6px 6px 0px var(--pink);
  --black-shadow: 4px 4px 0px var(--black);
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --radius-8: 8px;
  --input-height: 45px;
}

/* Reset and Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

form * {
  border: none;
  outline: none;
  font: inherit;
  background-color: transparent;
}

button {
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  height: 100%;
  background-color: var(--beige);
  font-family: var(--font-family);
}

/* Utility Classes */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.height-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.white-background {
  background-color: var(--white);
}

.blue-background {
  background-color: var(--blue);
}

.pink-background {
  background-color: var(--pink);
}

.green-background {
  background-color: var(--green);
}

/* Shared Style */
.button {
  border: 2px solid var(--black);
  box-shadow: var(--black-shadow);
  border-radius: var(--radius-8);
}

.regular-button {
  font-weight: 600;
  padding-inline: var(--space-16);
  height: var(--input-height);
}

.circle-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: var(--space-8);
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.form {
  margin-top: var(--space-32);
}

.label {
  font-weight: 600;
  font-size: var(--font-size-16);
  display: inline-block;
  margin-top: var(--space-16);
}

.label:first-child {
  margin-top: 0;
}

.secondary-label {
  display: block;
  font-weight: 500;
  font-size: var(--font-size-14);
  margin-top: var(--space-16);
}

.input,
.textarea-input,
.status-select {
  border: 2px solid var(--black);
  border-radius: var(--radius-8);
  width: 100%;
  padding: var(--space-16);
  margin-top: var(--space-16);
}

.input,
.status-select {
  height: var(--input-height);
}

.textarea-input {
  resize: none;
}

.status-select .arrow-icon {
  transform: rotate(270deg);
  margin-bottom: var(--space-8);
}

.status-dropdown {
  border: 2px solid var(--black);
  border-radius: var(--radius-8);
  margin-top: var(--space-4);
  padding: var(--space-16);
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.status-dropdown.hide {
  display: none;
}

.status-dropdown .radio-label {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  cursor: pointer;
}

.form .cta-button {
  margin-top: var(--space-32);
}

.error-message {
  border: 1px solid red;
  background-color: #ffe6e6;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Media Queries */
@media (min-width: 768px) {
  .divided-inputs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--space-16);
  }
}

/* Animations and Keyframes */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Specific Component Styles */
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

/* Gradient Backgrounds */
.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa 0.89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg, #def9fa -43.27%, #bef3f5 -21.24%, #9dedf0 12.19%, #7de7eb 29.82%, #5ce1e6 51.94%, #33bbcf 90.29%);
}

/* ... other gradient backgrounds ... */
